body {
    background-color: #1D1F21;
    color: white;
}
#header{
    border-bottom: 1px solid #25282c;
}
#users {
    border-left: 1px solid #25282c;
}
#console {
    border-top: 1px solid #25282c;
}
#console-head {
    background-color: #1D1F21;
}
#code-id {
    color: grey;
}
#theme-toggle {
    border: 1px solid #25282c;
}
#light {
    border-right: 1px solid #25282c;
}
.option {
    background: #1D1F21;
    color: #ffffff;
}
.active {
    background-color: #101213;
    color: #b8b8b8;
}
.material-icons-outlined {
    font-family: 'Material Icons';
}
input {
    border: 1px solid #25282c;
    background: #1D1F21;
    color: white;
}
input::placeholder {
    color: white;
}
button {
    border-top: 1px solid #25282c;
    border-right: 1px solid #25282c;
    border-bottom: 1px solid #25282c;
    border-left: none;
    background: #101213;
    color: #b8b8b8;
}
.console {
    background-color: #25282c;
}
.op {
    border-bottom: 1px solid rgb(0, 0, 0, 0.15);
}